
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


.overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay figure {
  text-align: center;
}

.overlay img {
  width: 60%;
  cursor: pointer;
}

.active {
  background: yellow !important;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  background: #3a3333;
  font-size: 16px;
  font-family: arial, sans-serif;
}

#root {
  margin: 0 auto;
  background: #3a3333;
  width: 920px;
  padding-left: 2%;
}

img {
  /* padding: 5px 5px 5px 10px;*/
  border: 1px solid #d8d6d6;

  width: 100%;
}

.wrapper_common {
  display: inline-block;
  background: #767273;
  border: 1px solid white;
  border-radius: 10px;
  margin: 5px 6px;
  padding: 10px 13px 3px 13px;
  cursor: pointer;
  transition: all 0.3s;
  width: 23%;
}

.wrapper_common:hover {
  background: #b6b3b3;
}


.wrapper_picture {
  position: relative;
}

.wrapper_picture figcaption {
  position: absolute;
  padding: 5px 15px 8px 5px;
  right: 0;
  bottom: 0;
  font-size: 1.4vw;
  color: white;
  opacity: 0.8;
}

.wrapper_rating_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels span, .rating span {
  display: inline-block;
  background: #767273;
  width: 10px;
  height: 10px;

  margin: 1px;
  border: 1px solid white;
  border-radius: 50%;
}

.labels span:hover {
  box-shadow: 0 0 4px white;
  border-radius: 50%;
}

@media (min-width: 1290px) {
  .wrapper_picture figcaption {
    font-size: 1.17em;
  }
}

@media (max-width: 629px) {
  .wrapper_common {
    width: 31%;
  }
}

@media (max-width: 525px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}

@media (max-width: 466px) {
  .wrapper_common {
    width: 47%;
  }
}